/* Alexey Novak, Yuriy Zenevich */
/* March 2012 */

/* Basically all CSS styles of all the views, divs, elements we have */
/* All styles go here */
.mainView {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%; 
    width: 100%;
    overflow: hidden;
}
.noteViews {
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    display: table;
    width: 97%;
    height: 100%;
    float: left;
}
.noteImage {
    max-width: 992px; /* we need to find the way to express it in percentages */
    max-height: 600px; /* we need to find the way to express it in percentages */
    pointer-events:none;
}
.noteView {
    display: none;
}
.noteInfoPopup {
    width: 23%;
    height: 13%;
    background-color: black;
/*     filter:alpha(opacity=60);-moz-opacity:.6;opacity:.6; */
    position: absolute;
    bottom: 0px;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 8px;
    display: none;
    color: white;
    padding: 1%;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}
.activeNote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.controlPanel {
    background-color: #efefef;
    display: inline;
    top: 5px;
    right: -220px;
    z-index: 100;
    position: absolute;
    width: 250px;
    height: 97%;
    -moz-box-shadow: -5px 5px 5px #888;
    -webkit-box-shadow: -5px 5px 5px #888;
    box-shadow: -5px 5px 5px #888;
    border-radius: 8px;
}
.slideButton {
    top: 10px;
    left: 0px;
    position: relative;
/*     background-color: orange; */
    width: 30px;
    height: 30px;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    
}
.slideButtonImage {
}