/* Alexey Novak, Yuriy Zenevich */
/* March 2012 */

/* Basically all CSS styles of all the views, divs, elements we have */
/* All styles go here */

.mainView {
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%; 
    width: 100%;
    overflow: hidden;
}
.noteViews {
    background-color: yellow;
    position: relative;
    left: 0px;
    top: 0px;
    display: table;
    width: 95%;
    height: 100%;
}
.noteImage {
}
.noteView {
    display: none;
}
.activeNote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.controlPanel {
    background-color: red;
    display: inline;
    top: 0px;
    z-index: 100;
    position: absolute;
    width: 40px;
    height: 100%;
}
.controlPanel.hidden {
    right: -35px;
}
.controlPanel {
    right: 0px;
}